html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: gray;
}    

body, html {
    overflow-x: hidden;
}

.main-content {
    position: relative;
}

.container {
    margin-left: 3vh;
    margin-right: 3vh;

    /* background-color: rgb(130, 130, 130); */
}


.wrapper {

}

.content {

}



.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white; /* Text color */
    text-decoration: none;
    border: 2px solid white; /* Border color */
    border-radius: 20px; /* Border radius for rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

.button:hover {
    background-color: #333;
    color: #fff;
}

.horizontal-container {
    display: flex;
    gap: 10px; 
}

.vertical-container {
    display: flex;
    flex-direction: column;
    padding: 20px; 
}

.SocialButton {
    width: 5vh;
}


/*------------
    HEADER
 ------------*/
 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1vh;
}

.logo-container, .nav-container {
   /* margin-left: 1vh;
   margin-right: 1vh; */
   margin: 1vh;
}

.logo-container {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.NavButton {
    width: 8vh;
}

.SiteLogo {
    width: 10vh;
}

.overlay {
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.overlay-menu {
    display: flex;
    justify-content: space-around;
    padding: 0 20px; 
    box-sizing: border-box; 
    width: 100%;
    background-color: white;
}
/*------------
     Home
 ------------*/
 #video-section {
    position: relative;
    min-height: 50vh; /* Set a minimum height to ensure the section is visible */
    overflow: hidden;
  }
  
  #video-section video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video fills the container while maintaining its aspect ratio */
    position: absolute;
    z-index: -1;
  }
  

/*------------
    About Us
 ------------*/
#about {
    color: white;
    display: flex;
    align-items: center;
    background-color: black;
    height: 50vh;
}



 /*------------
    Info
 ------------*/
#info {
    color: white;
    background-color: black;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.info-block {
    width: 25%; 
}

/*------------
    Footer
 ------------*/





.footer {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.footer-text {
    margin: 3vh;
    flex: 1; 
}

.footer-text a {
    display: block;
    margin-bottom: 5px; 
}

.footer-social {
    margin: 3vh;
    display: flex;
    gap: 10px; 
    align-self: flex-end;
}

.SocialButton {
    height: 5vh;
}










@media only screen and (max-width: 600px) {
    .overlay-menu {
        display: flex;
        flex-direction: column;
        align-items: left;  
    }

      
    #video-section video {
        width: 100%;
        height: 70%;
        object-fit: cover; /* Ensure the video fills the container while maintaining its aspect ratio */
        position: absolute;
        z-index: -1;
    }

}

@media only screen and (max-width: 1000px) {
    .info-block {
        width: 100%;
    }
}




